
body{
    margin: 0;
}
.sidebar{
    width: 22%;
    border-right: solid;
    border-width: 5px 20px;
    border-color: rgb(241, 241, 241);

}
.about_me{
    height:100vh;
    margin-left: 23%;
    padding-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}
.about_me #style_about #text{
    display: inline;
}
.about_me #style_about{
    position: absolute;
    display: inline;
    height: 50px;
    width: 240px;
    background-color: rgb(255, 238, 0);
    text-align: right;
    padding-right: 15px;
    padding-top: 3px;
    color: #fff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about_me #text{
    position: absolute;
    padding-left: 300px;
    padding-top: 13px;
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgb(209, 212, 214);
}

.personer .describe{
    width: 50%;
    padding-left: 8%;
    padding-top: 80px;
}
.personer .title_about{
    width: 80%;
    margin:  0;
    padding-left: 0%;
    padding-top: 80px;
}

.title_about{
    position: relative;
    margin-left:23px ;
}
.title_about h3{
    border-bottom: 2px solid orange;
    width: max-content;
}
.testomonials{
    position: relative;
    height: 239px;
    width: 100%;
}
.text_about{
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    max-width: 200px;
    font-style: italic;
    position: absolute;
    left: 50px;
}


.user {
    display: flex;
    position: absolute;
    bottom: 25px;

}
#name_sub{
    margin-left: 15%;
    font-style: italic;   
    padding-top:40%;
}

.image{
    width: 70px; 
    outline-width: 3px;
    outline-style: solid;
    border-radius: 50%;
    outline-color: #ddd;
}
#services{
    font-size: 25px;
    margin-left: 25%;
    padding-left: 5px;
    border-bottom: 2px solid orange;
    width: max-content;
}
.services {
    align-items: center;
    margin-left: 23%;
    padding-left: 5px;
    margin-top: 30px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.services img {
    width: 96px;
}

.services p {
    max-width: 200px;
}
.clients {
    align-items: center;
    margin-left: 23%;
    padding: 5px;
    margin-top: 30px;
    display: grid;
    opacity: 0.4;
}
.clients img {
    width: 140px;
}

.fun-facts {
    margin-left: 25%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}

.fun-facts div {
    border: 3px solid #eee;
    border-radius: 10px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fun-facts .active div{
    background-color: rgb(192, 81, 81);
    color: aqua;
}



