.sidebar{
    width: 22%;
    border-right: solid;
    border-width: 5px 20px;
    border-color: rgb(241, 241, 241);

}
.main {
    margin-left: 22%;
}

.path {
    padding-top: 50px;
    padding-left: 8px;
}
.path #style{
    position: absolute;
    height: 50px;
    width: 240px;
    background-color: rgb(255, 238, 0);
    text-align: right;
    padding-right: 10px;
    padding-top: 3px;
    color: #fff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.path h4{
    position: relative;
    padding-left: 18rem;
    font-size: 24px;
    margin-top: 1rem;
    opacity: 0.3;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    width: 100%;
}

.box .blog {
    position: relative;
}

.box .blog .date {
    position: absolute;
    top: -50px;
    right: 20px;
    background: orange;
    height: 65px;
    width: 60px;
    color: white;
}

.box .blog {
    text-align: center;
    padding: 30px;
}
.box .blog .style{
    margin-top: 6px;
}

.box .blog span{
    opacity: 0.6;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .gallery  .box {
        width: 46%;
        margin: 1%;
        box-shadow: rgba(88, 89, 90, 0.2) 0px 8px 24px;
    }
}

@media (max-width: 768px) {
    .gallery  .box {
        width: 100%;
        margin: 4%;
    }
}