body{
    margin: 0;
}
.home_container{
    position: relative;
}
.sidebar{
    width: 22%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    text-align: center;
}
.sidebar img{
    width: 96px;
    margin-top: 50px
}
.sidebar #role{
    opacity: 0.4;
    text-align: center;
}
 ul{
    text-align: center;
    padding: 0;
    list-style: none;
}
.nav-box{
    border-top: 1px solid #ddd;
    padding-top: 2px;
    padding-bottom: 2px;
}
.nav-active {
    background-color: #eee;
    border-right: 4px solid rgb(255, 188, 63);
}
.nav-link{
    text-decoration: none;
    color: black;
}
.container{
    height:100vh;
    margin-left: 22%;
    background-image: url(../assets/home_page_bg_2.jpeg);
    color: #fff;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    position: relative;
}
.container .img_mask{
    background-color: rgba(49, 44, 44, 0.815);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 1;
}
.container .box{
    margin-top: 50px;
    color:#fff;
    z-index: 2;
}
.container .box #user_name{
    font-size: 50px;
}
.container .box #user_role{
    opacity: 0.5;
    text-align: center;
}
.user_info span{
    padding-top: 30px;
    font-size: 20px;
}
.info{
    border-bottom: 2px solid yellow;
    font-size: 20px;
    font-weight: 500;
    width: max-content;
}
.container .box .user_info{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}